html, body {
    height: 100%
}

input{
    border: none;
    width: 50%;
    margin-top: 5px;
}

.col {
    padding-right: 0;
    padding-left: 0;
}

.btn-xxl {
    border-radius: 50px;
    font-size: 50px;
    width: 150px;
    height: 150px;
}

.btn-xl {
    border-radius: 50px;
    font-size: 50px;
    width: 100px;
    height: 100px;
}

.modal-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
