@model SourceInfoViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Cm Visualizer</h1>
    <p>Code metrics in nice graphs</p>
</div>

<hr />

<div class="row align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
        <div class="container">
            <button type="button" class="btn btn-primary rounded-circle btn-xxl btn-file" data-toggle="tooltip" title="Hooray!"><i class="fa fa-plus"></i></button>
            <button id="btn-settings" type="button" class="btn btn-primary rounded-circle btn-xl" data-toggle="modal" data-target="#myModal"><i class="fa fa-cog"></i></button>
            <form id="project-form" asp-action="Result" enctype="multipart/form-data">
                <input type="file" asp-for="ExcelMetrics" class="btn-input-file" accept=".xlsx" hidden>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title">Settings</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a id="nav-project" class="nav-link active" data-toggle="pill" href="#">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#">Namespace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#">Class</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#">Function</a>
                    </li>
                </ul>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="modal-block">
                        <h5 class="modal-title">Maintability index</h5>
                        <div id="maintability" class="progress">
                            <div class="progress-bar bg-danger" style="width:33.33%">
                                Bad
                            </div>
                            <div class="progress-bar bg-warning" style="width:33.33%">
                                Mid
                            </div>
                            <div class="progress-bar bg-success" style="width:33.33%">
                                Good
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col"><b>0</b></div>
                                <div class="col">
                                    <input id="data1" type="text" value="0">
                                </div>
                                <div class="col">
                                    <input id="data2" type="text" value="0">
                                </div>
                                <b @*style="font-size:10px;"*@>100</b>
                            </div>
                        </div>
                    </div>

                    <div class="modal-block">
                        <h5 class="modal-title">Cyclomatic complexity</h5>
                        <div id="cyclomanic" class="progress">
                            <div class="progress-bar bg-success" style="width:33.33%">
                                Good
                            </div>
                            <div class="progress-bar bg-warning" style="width:33.33%">
                                Mid
                            </div>
                            <div class="progress-bar bg-danger" style="width:33.33%">
                                Bad
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col"><b>0</b></div>
                                <div class="col">
                                    <input id="data3" type="text" value="0">
                                </div>
                                <div class="col">
                                    <input id="data4" type="text" value="0">
                                </div>
                                <b>∞</b>
                            </div>
                        </div>
                    </div>

                    <div class="modal-block">
                        <h5 class="modal-title">Class coupling</h5>
                        <div id="deph-of-inheritance" class="progress">
                            <div class="progress-bar bg-success" style="width:33.33%">
                                Good
                            </div>
                            <div class="progress-bar bg-warning" style="width:33.33%">
                                Mid
                            </div>
                            <div class="progress-bar bg-danger" style="width:33.33%">
                                Bad
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col"><b>0</b></div>
                                <div class="col">
                                    <input id="data5" type="text" value="0">
                                </div>
                                <div class="col">
                                    <input id="data6" type="text" value="0">
                                </div>
                                <b>∞</b>
                            </div>
                        </div>
                    </div>

                    <div class="modal-block">
                        <h5 class="modal-title">Lines od code</h5>
                        <div id="lines-od-code" class="progress">
                            <div class="progress-bar bg-success" style="width:33.33%">
                                Good
                            </div>
                            <div class="progress-bar bg-warning" style="width:33.33%">
                                Mid
                            </div>
                            <div class="progress-bar bg-danger" style="width:33.33%">
                                Bad
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col"><b>0</b></div>
                                <div class="col">
                                    <input id="data7" type="text" value="0">
                                </div>
                                <div class="col">
                                    <input id="data8" type="text" value="0">
                                </div>
                                <b>∞</b>
                            </div>
                        </div>
                    </div> 
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="save-setting" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

<hr />
<div class="jumbotron"></div>

@section scripts {
    <script>
        $(document).ready(function () {
            //Click plus button => trigger input file
            $(".btn-file").click(function () {
                $(".btn-input-file").trigger('click');
            });

            //Open setting => change to first tab
            $("#btn-settings").click(function () {
                $("#nav-project").trigger('click');
            });

            //Upload file => submit file
            $(".btn-input-file").change(function () {
                $('#project-form').submit();
            });

            $("#save-setting").click(function () {

                var Ugly =
                    {
                        Values: [$("#data1").val(), $("#data2").val(), $("#data3").val(),
                        $("#data4").val(), $("#data5").val(), $("#data6").val(),
                        $("#data7").val(), $("#data8").val()]
                    };

                $.ajax({
                    url: '/Home/SaveSetting/',
                    type: "POST",
                    dataType: "json",
                    data: Ugly,
                    success: function (response) {
                        
                    }
                });
                
            });

            $(".nav-link").click(function () {

                var Ugly =
                    {
                        Name: $(this).text()
                    };

                $.ajax({
                    url: '/Home/ChangeSetting/',
                    type: "POST",
                    dataType: "json",
                    data: Ugly,
                    success: function (response) {
                        $("#data1").val(response.success[0]);
                        $("#data2").val(response.success[1]);
                        $("#data3").val(response.success[2]);
                        $("#data4").val(response.success[3]);
                        $("#data5").val(response.success[4]);
                        $("#data6").val(response.success[5]);
                        $("#data7").val(response.success[6]);
                        $("#data8").val(response.success[7]);
                    }
                });
            });
        });
</script>
}